@CHARSET "UTF-8";

html,body {
	overflow: auto !important;
	overflow: hidden;
	margin: 0;
	padding: 0;
	scrollbar-face-color: #DDEEFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #99BBCC;
	scrollbar-3dlight-color: #AACCDD;
	scrollbar-arrow-color: #6688AA;
	scrollbar-track-color: #EEEEEE;
	scrollbar-darkshadow-color: #DDEEFF;
}

body {
	font: 100% 宋体, 新宋体;
	background-color: #FFFFFF;
	color: #444444;
	height: 100%;
	margin: 0;
	padding: 0;
}


a.a_title {
	background-color: transparent;
	border: 0 none;
	color: #0088DD;
	text-decoration: none;
}

a.a_title:hover {
	border: 0px solid;
	color: #FF8800;
	text-decoration: underline;
}
.over{
	background:#FBEC88;
}