A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #000000
}
A:visited {
	COLOR: #000000
}
A:active {
	COLOR: #000000
}
A:hover {
	COLOR: #ff6600
}
A[disabled=disabled] {
	COLOR: #aca899
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #d4e4f6; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"
}
TH {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"
}
BUTTON {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"
}
TH {
	FONT-WEIGHT: normal
}
TD {
	LINE-HEIGHT: 150%
}
INPUT {
	
}
BUTTON {
	
}
SELECT {
	
}
INPUT {
	FONT-FAMILY: "宋体"
}
INPUT[type=checkbox] {
	VERTICAL-ALIGN: middle
}
INPUT[type=radio] {
	VERTICAL-ALIGN: bottom
}
* + HTML INPUT[type=radio] {
	VERTICAL-ALIGN: baseline
}
.inputbutton {
	PADDING-RIGHT: 14px; PADDING-LEFT: 13px; PADDING-BOTTOM: 0px; OVERFLOW: visible; PADDING-TOP: 0px
}
.buttonspacing {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LETTER-SPACING: 6px
}
.inputtext {
	HEIGHT: 15px
}
.border {
	BORDER-RIGHT: #6493c8 1px solid; BORDER-TOP: #6493c8 1px solid; BACKGROUND: #fff; BORDER-LEFT: #6493c8 1px solid; BORDER-BOTTOM: #6493c8 1px solid
}
.TableWrap {
	BORDER-RIGHT: #6493c8 1px solid; BORDER-TOP: #6493c8 1px solid; BACKGROUND: #fff; BORDER-LEFT: #6493c8 1px solid; BORDER-BOTTOM: #6493c8 1px solid
}
.title {
	FONT-WEIGHT: bold; BACKGROUND: url(../../image/top_bg_ewcms.gif) #b0d0f3 repeat-x left top; COLOR: #3666aa; LINE-HEIGHT: 120%
}
.spacingtitle {
	FONT-WEIGHT: bold; BACKGROUND: url(../../image/top_bg_ewcms.gif) #b0d0f3 repeat-x left top; COLOR: #3666aa; LINE-HEIGHT: 120%
}
TH {
	FONT-WEIGHT: bold; BACKGROUND: url(../../image/top_bg_ewcms.gif) #b0d0f3 repeat-x left top; COLOR: #3666aa; LINE-HEIGHT: 120%
}
.spacingtitle {
	LINE-HEIGHT: 24px; LETTER-SPACING: 12px
}
.tdbg {
	BACKGROUND: #e6eff8; LINE-HEIGHT: 120%
}
.tdbgbottom {
	BACKGROUND: #e6eff8; HEIGHT: 40px; TEXT-ALIGN: center
}
.tdbg LI {
	MARGIN-LEFT: 15px! important
}
.tdbgleft {
	BACKGROUND: #d5e9ff; LINE-HEIGHT: 120%
}
.tdbgselected {
	BACKGROUND: #e0eef5; LINE-HEIGHT: 120%
}
.tdbgmouseover {
	BACKGROUND: #bfdfff; LINE-HEIGHT: 120%
}
.tabtitle {
	FONT-WEIGHT: normal; BACKGROUND: url(http://www.powerEasy.net/Images/titlebg2.gif); WIDTH: 80px; CURSOR: pointer; LINE-HEIGHT: 120%; PADDING-TOP: 2px; HEIGHT: 22px
}
.titlemouseover {
	FONT-WEIGHT: normal; BACKGROUND: url(http://www.powerEasy.net/Images/titlebg2.gif); WIDTH: 80px; CURSOR: pointer; LINE-HEIGHT: 120%; PADDING-TOP: 2px; HEIGHT: 22px
}
.tabtitle {
	BACKGROUND: url(http://www.powerEasy.net/Images/titlebg2.gif)
}
.titlemouseover {
	BACKGROUND: url(http://www.powerEasy.net/Images/titlebg1.gif); COLOR: #ffffff
}
.highlight {
	BACKGROUND-COLOR: #fcd147
}
.modalPopup {
	BORDER-RIGHT: gray 3px solid; PADDING-RIGHT: 3px; BORDER-TOP: gray 3px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: gray 3px solid; PADDING-TOP: 3px; BORDER-BOTTOM: gray 3px solid; BACKGROUND-COLOR: #ddddff
}
.modalBackground {
	FILTER: alpha(opacity=70); BACKGROUND-COLOR: gray; opacity: 0.7
}
.RomNumber {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; OVERFLOW: hidden; CURSOR: default; COLOR: highlighttext; FONT-FAMILY: tahoma; HEIGHT: 365px; BACKGROUND-COLOR: highlight; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px
}
.txtmain {
	FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; WIDTH: 92%; COLOR: highlight; FONT-FAMILY: tahoma; HEIGHT: 365px
}
.propertylist {
	BORDER-RIGHT: #2f4f4f 1px dashed; PADDING-RIGHT: 5px; BORDER-TOP: #2f4f4f 1px dashed; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #2f4f4f 1px dashed; PADDING-TOP: 10px; BORDER-BOTTOM: #2f4f4f 1px dashed; BACKGROUND-COLOR: #d3deef
}
#ctl00_CphContent_attlist A {
	BORDER-RIGHT: #86b9d6 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #86b9d6 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; BORDER-LEFT: #86b9d6 1px solid; MARGIN-RIGHT: 1px; PADDING-TOP: 3px; BORDER-BOTTOM: #86b9d6 1px solid; BACKGROUND-COLOR: #f5fbff
}
#ctl00_CphContent_attlist A:hover {
	BORDER-RIGHT: #f6b9d6 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #f6b9d6 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #f6b9d6 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #f6b9d6 1px solid; BACKGROUND-COLOR: #fffbf5; TEXT-DECORATION: none
}
.ContextMenuPanel {
	BORDER-RIGHT: #868686 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #868686 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; Z-INDEX: 1000; BACKGROUND: #fafafa; PADDING-BOTTOM: 0px; BORDER-LEFT: #868686 1px solid; CURSOR: default; PADDING-TOP: 1px; BORDER-BOTTOM: #868686 1px solid
}
.ContextMenuItem:hover {
	BORDER-RIGHT: #d2b47a 1px solid; BORDER-TOP: #d2b47a 1px solid; BORDER-LEFT: #d2b47a 1px solid; CURSOR: pointer; COLOR: #003399; BORDER-BOTTOM: #d2b47a 1px solid; BACKGROUND-COLOR: #ffe6a0
}
.WebPart {
	BACKGROUND: #e1edff
}
.BarIndicator_TxtUserPassword {
	COLOR: #5f96cc; BACKGROUND-COLOR: #5f96cc
}
.BarBorder_TxtUserPassword {
	BORDER-RIGHT: #5f96cc 1px solid; BORDER-TOP: #5f96cc 1px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: #5f96cc 1px solid; WIDTH: 80px; BORDER-BOTTOM: #5f96cc 1px solid
}
.TableWrap {
	TABLE-LAYOUT: fixed; WIDTH: 100%
}
.TdWrap {
	OVERFLOW: hidden
}
#bbs_title {
	BORDER-RIGHT: #6493c8 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #6493c8 1px solid; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../../image/top_bg_ewcms.gif); BORDER-LEFT: #6493c8 1px solid; COLOR: #3666aa; LINE-HEIGHT: 25px; BORDER-BOTTOM: #6493c8 1px solid; HEIGHT: 25px
}
#bbs_title_right {
	FONT-WEIGHT: normal; FLOAT: right; BACKGROUND-IMAGE: url(../../image/top_bg_ewcms.gif); LINE-HEIGHT: 25px
}
#bbs_left {
	FLOAT: left; WIDTH: 155px; TEXT-ALIGN: center
}
#bbs_center {
	CLEAR: both; BORDER-RIGHT: #6493c8 1px solid; BACKGROUND: #fff; BORDER-LEFT: #6493c8 1px solid; BORDER-BOTTOM: #6493c8 1px solid; HEIGHT: 185px
}
#bbs_right {
	MIN-HEIGHT: 185px; FLOAT: left; MARGIN-LEFT: auto! important; BORDER-LEFT: #6493c8 1px solid; WIDTH: 815px; HEIGHT: auto! important
}
#bbs_text {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; OVERFLOW-X: hidden; PADDING-BOTTOM: 8px; WIDTH: 98%; WORD-BREAK: break-all; PADDING-TOP: 8px; WORD-WRAP: break-word
}
#bbs_bot {
	BORDER-RIGHT: #6493c8 1px solid; BACKGROUND: #fff; BORDER-LEFT: #6493c8 1px solid; LINE-HEIGHT: 26px; BORDER-BOTTOM: #6493c8 1px solid; HEIGHT: 26px
}
#bbs_botleft {
	FLOAT: left; WIDTH: 155px; HEIGHT: 26px; TEXT-ALIGN: center
}
#bbs_botright {
	MARGIN-LEFT: 155px; BORDER-LEFT: #6493c8 1px solid; HEIGHT: 26px
}
#bbs_center_line {
	BORDER-BOTTOM: #76a3da 1px solid
}
.commontbrokenline {
	BORDER-TOP: #1a89da 1px dashed; OVERFLOW: hidden; HEIGHT: 1px
}
.compare_tdtop {
	BORDER-RIGHT: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.compare_tdinter {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; TEXT-ALIGN: center
}
.compare_tdbg {
	BACKGROUND: #e6eff8; LINE-HEIGHT: 120%
}
.compare_tdbg1 {
	BACKGROUND: #ffffff; LINE-HEIGHT: 120%
}
.compare_title {
	FONT-WEIGHT: normal; BACKGROUND: #ebeadb; COLOR: #000000
}
.input_onFocus {
	BACKGROUND: #ffc
}
.input_onBlur {
	
}
.d_default {
	BORDER-RIGHT: #f7f7f7 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #f7f7f7 1px solid; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 2px; BORDER-LEFT: #f7f7f7 1px solid; LINE-HEIGHT: normal; PADDING-TOP: 2px; BORDER-BOTTOM: #f7f7f7 1px solid
}
.d_on {
	BORDER-RIGHT: #ffcc00 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffcc00 1px solid; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffcc00 1px solid; COLOR: #000; LINE-HEIGHT: normal; PADDING-TOP: 2px; BORDER-BOTTOM: #ffcc00 1px solid; BACKGROUND-COLOR: #ffffdd
}
.d_ok {
	BORDER-RIGHT: #00be00 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #00be00 1px solid; PADDING-LEFT: 24px; BACKGROUND: url(http://www.powerEasy.net/Images/li_ok.gif) #e6ffe6 no-repeat 4px 50%; FLOAT: left; PADDING-BOTTOM: 2px; BORDER-LEFT: #00be00 1px solid; COLOR: #000; LINE-HEIGHT: normal; PADDING-TOP: 2px; BORDER-BOTTOM: #00be00 1px solid
}
.d_err {
	BORDER-RIGHT: #f30 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #f30 1px solid; PADDING-LEFT: 24px; BACKGROUND: url(http://www.powerEasy.net/Images/li_err.gif) #fff1e4 no-repeat 4px 50%; FLOAT: left; PADDING-BOTTOM: 2px; BORDER-LEFT: #f30 1px solid; COLOR: #f00; LINE-HEIGHT: normal; PADDING-TOP: 2px; BORDER-BOTTOM: #f30 1px solid
}
.linktype {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 20px; PADDING-TOP: 0px; HEIGHT: 20px
}
.link {
	DISPLAY: block; Z-INDEX: 2; BACKGROUND: url(http://www.powerEasy.net/Images/link.gif) no-repeat; MARGIN: 9px 0px 0px 2px; WIDTH: 7px; POSITION: absolute; HEIGHT: 7px
}
#poplink {
	CURSOR: pointer; POSITION: relative
}
#newbox {
	DISPLAY: none; LEFT: 0px; PADDING-TOP: 20px; POSITION: absolute; TOP: 0px
}
#newbox IFRAME {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
