body{overflow: hidden;}
.main{width:1000px;margin: 30px 0;}
.main_icon{margin: 0;padding:0;vertical-align: bottom;}
.main_title{font-size: 110%;font-weight:bold;ftext-align: left;vertical-align: bottom;}
.main_detail{font-size: 12px;font-family: sans-serif;padding:12px 0;margin: 0;}
.right{width:300px;padding-left: 10px;border-collapse:collapse;border-width: 4px;border-style: double;border-color: #a6d3f1;float: left;}
.left{width:680px;float: left;}
.wapper{margin: 3px 5px 0 0;float: none;}
.preface_icon{width: 64px;height: 80px;float: left;}
.preface_icon img{width: 64px;height: 64px;}
.preface_info{float: left;font-size: 12px;font-family: sans-serif;width: 580px;height: 80px;padding-left: 10px;}
.title{font-size: 12px;display: inline-block;font-family: sans-serif;line-height: 23px;width: 60px;}
.input{font-size: 12px;font-family: sans-serif;width: 180px;margin: 0;padding: 0;}
.checkcode{font-size: 12px;font-family: sans-serif;width: 60px;}
.inputtxt{font-size: 12px;color:#444444;margin: 0;padding: 1px 0 0 65px;}
.error{font-size: 14px;color:#ff6600;margin: 0;padding: 0;}
.icon-login{background:url('../image/login/door_in.png') no-repeat;}
