.diaocha {
	width: 600px;
	height: 400px;
	margin: 20px auto;
}

.diaocha .bt01 {
	width: 650px;
	height: 35px;
	border-bottom: 2px solid #990;
	background: url(../../images/vote/wsdc.jpg) no-repeat;
}

.diaocha .list03 {
	padding: 10px;
}

.diaocha .list03 li {
	height: 30px;
	line-height: 30px;
	background: url(../../images/vote/biao2.gif) no-repeat 0px center;
	padding-left: 15px;
}

.dc_detail {
	width: 500px;
	margin: 0px auto;
}

.dc_detail .dc_tit {
	font-size: 14px;
	font-weight: bold;
	color: #C60;
	height: 40px;
	line-height: 45px;
}

.dc_detail form p {
	margin-bottom: 10px;
}

.dc_detail form .btn input {
	margin: 0px 30px;
}

.votecontainer {
	margin: 0 auto;
	padding: 0 10px;
}

.votecontainer h2 {
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	padding-left: 5px;
	line-height: 30px;
}

.votecontainer dl {
	font-size: 12px;
	clear: both;
	line-height: 20px;
	margin: 0;
	overflow: hidden;
	padding: 10px 0 0;
	_height: 1%;
	_overflow: visible;
}

.votecontainer dl dt {
	clear: both;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 10px 0 0;
}

.votecontainer dl dd {
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	padding-left: 10px;
}