@CHARSET "UTF-8";

body{ background-color: #FFFFFF; color: #444444; height:100%; margin:0; padding:0; border:none;}
.formtable{width:100%; border:1px solid #eeeeee;}
.formtable td{border:1px solid #eeeeee;text-align:left;padding:1px 1px 1px 4px;height:24px;}
.title{width:70px;font-size: 12px;padding-left:5px;}
.input_t{width:202px;}
.input{width:200px;}
.password-help{font-size: 12px;color: #114477;}
.table_none {border-style: none;}
.table_none tr td{border-style: none;margin: 0px;padding: 1px;}
.password-strength-bar{font-size: 12px;font-weight: bold;}
.errorMessage {margin: 0px;padding: 3px;vertical-align: middle;list-style:none;color: #FF3300;}
.errorMessage li{float: left;list-style:none;font-size: 12px;}